/* Global ===========*/
:root{
    --blue: #102442;
}


/* --------- CLASS ------------*/

.center{text-align: center;}
.promocao{font-size: 26px; color: black;font-family: Impact;}


.color2 {color: #102442;}
.fonte{font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
.borderFoto{border-radius: 10px; border: solid 1px black;}
.descricao{font-family: 'Josefin Sans', sans-serif; font-size: 12px; color: black; font-weight: bold;}
.titulo{font-family: 'Berkshire Swash', cursive; font-size: 28px;}
.locais{font-family: cursive; font-size: 18px; font-weight: bold; color: black;}
.desconto{text-decoration: line-through; font-size: 12px; color: black;}
.parcela{font-size: 12px; background-color: yellow; color: black;}
.texto{text-align: center;font-family: 'Josefin Sans', sans-serif; font-size: 24px; margin-top: 40px;}
.drop{border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;}
.borderCont{border-radius: 10px;}
.italico{font-family: cursive; font-style: italic;}
.button{width: 150px; height: 40px; border-radius: 10px; font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
.box{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 18px gray;
}
.button01{
    width:90%; 
    height: 125px; 
    border-radius: 35px; 
    font-family: 'Berkshire Swash', cursive; 
    font-size: 36px;
    background-position: center; 
    background-size: cover; 
    color: black;
    transition: all 0.5s; 
    cursor: pointer;
}
.button01:hover{
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}



/* --------- ID --------------*/

#formapag{font-family: cursive; font-size: 18px; color: red; font-weight: bold;}
#easy{font-family: 'Berkshire Swash', cursive; font-size: 45px;}
#gif{width: 100%; height: auto; border-radius: 5px;}
#logo{width: 150px; height: auto;}
#redondo{border-radius: 10px;}


/* ---------- TAGS -----------*/

buton{border-radius: 15px; background-color: #102442; color:white; border: 15px; width: 200px; height: 50px; box-shadow: 5px 5px 5px 5px black; font-family: 'Josefin Sans', sans-serif; font-size: 22px;}

nav{background-color: transparent; color: black; border-radius: 5px; height: 90px; font-family: 'Josefin Sans', sans-serif; font-weight: 400; font-size: 22px;border-bottom: solid 2px black;}
a{color: black;}
ul li{margin-left: 15px;}
hr{border: solid 1px black;}
textarea{width: 450px; height: 150px;border-radius: 10px;}
h3{font-family: 'Berkshire Swash', cursive; font-size: 72px;text-align: center; color: black;}
p{font-family: 'Josefin Sans', sans-serif; font-size: 22px;}
footer{
    margin-top: 15px; 
    background-color: gray; 
    width: 100%; 
    padding-top: 10px; 
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center; 
    font-weight: 500;
}
article{margin: 40px;}
.boxShadow{box-shadow: 10px 10px 10px 10px grey; width: 275px; height: 275px;}
input{width: 450px;height: 40px; border-radius: 10px;margin-bottom: 10px;}
.h1{font-family: 'Josefin Sans', sans-serif; font-size: 40px; text-align: center;}
.promo{
    width: 100%; 
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.imagem3{transition: all 0.5s; cursor: pointer;}
.imagem3:hover{-webkit-transform: scale(1.1); transform: scale(1.1);}
.imagem4{
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px; 
    width:350px; 
    height:auto;
}
.imagem4:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.05); transform: scale(1.04);
}
.ctyFooter{text-align: center;font-family: 'Berkshire Swash', cursive; font-size: 28px;}
.pacote-viagem{
    text-align: center;
    font-family: 'Berkshire Swash', cursive; 
    font-size: 28px;
    background-color: rgba(64, 64, 64, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 15px;
}
#divisao{
    background-color: white;
    border: solid 1px black;
}



.algum{
    background-color: whitesmoke;
    padding: 20px;
    display: none;
    border-radius: 10px;
}
span:hover + .algum{
    display: block;
}
#immg{
    width:350px; 
    height:200px;
    border-radius: 10px;
}
.title{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 32px; 
    color: #102442; 
    font-weight: 600;
}
.price{font-family: 'Josefin Sans', sans-serif; font-size: 24px; color: #102442; font-weight: 600;}
.icons{width: 16px; height: 16px;}
.payment{width: 36px; height: 36px; margin: 5px;}

header nav div #login{
    padding: 3%;
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--blue);
    border-radius: 15px;
    border: solid 2px black;
    color: white;
}
header nav div #login:hover{
    color: var(--blue);
    background-color: white;
}
header nav div #newCount{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

main article div img{
    border-radius: 10%; 
    width: 100%; 
    height: auto;
    box-shadow: 5px 10px 18px black;
    border: solid 4px black;
}

main section div #Foto{
    border-radius: 10%; 
    width: 100%; 
    height: auto;
    box-shadow: 5px 10px 18px black;
    border: solid 4px black;
}

main #mainBox{
    border-top: solid 2px black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 18px gray;
}

footer div .cityFooter{
    text-align: center;
    font-family: 'Berkshire Swash', cursive; 
    font-size: 28px;
}

footer div span{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px;
    font-weight: 500;
}

body header nav div a button{
    transition: all 0.5s; 
    cursor: pointer;
    width: 130px;
    height: 40px;
}

body header nav div a button:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.05); transform: scale(1.04);
}

body{
    background: url(../imagens/maldivas.jpg);
    background-size: cover;
}

main section div .infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section a button{
    width: 250px;
    height: 85px;
    background-color: var(--blue);
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
    font-size: 32px;
    border-radius: 35px;
    box-shadow: inset 2px 2px 8px  rgba(0,0,0,.5);
    transition: all 0.5s; cursor: pointer;
}
main section a button:hover{
    background-color: whitesmoke;
    color: var(--blue);
    font-weight: bolder;
    box-shadow: inset 4px 7px 8px rgba(64, 64, 64, 0.4);
    -webkit-transform: scale(1.1); transform: scale(1.1);
}
/* Pagina de contato */
main section form button{
    border-radius: 15px; 
    background-color: #102442; 
    color:white; 
    border: 15px; 
    width: 200px; 
    height: 50px; 
    box-shadow: inset 0px 3px 6px rgba(0,0,0,0.25); 
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 22px;
}
main section form button:hover{
    background-color: white;
    color: #102442;
    box-shadow: inset 0px 3px 6px rgba(0,0,0,0.25);
    font-weight: bolder;
}
main section form input {
    border-radius: 15px; 
    box-shadow: inset 0px 3px 6px rgba(0,0,0,0.4); 
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px;
}
main section form input:hover {
    box-shadow: inset 3px 6px 8px rgba(0,0,0,0.4);
    font-weight: bold;
}
main section form label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
/* Pagina de contato */

